.landing-page {
  padding: 24px 80px;
}

.landing-header {
  /* right: 80px;
  left: 80px; */
  /* padding: 20px 50px; */
  /* width: 100%; */
  z-index: 1000;
  background-color: #ffffff !important;
  opacity: 0.9;
}

.landing-navbar {
  background: transparent !important;
  border: none !important;
}

.landing-navbar .ant-menu-item,
.landing-navbar .ant-menu-item.ant-menu-item-selected > a {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #4b4b4b !important;
  border: none !important;
}

.mouse-scroll-icon {
  text-align: center !important;
}

.small-divider {
  background-color: #7d1be1 !important;
  height: 2px;
}

.tools-container,
.plans-container {
  background-color: #f6f9fe;
}
.work-container {
  background: rgb(83, 54, 222);
  background: linear-gradient(
    90deg,
    rgba(83, 54, 222, 1) 0%,
    rgba(105, 56, 226, 1) 50%,
    rgba(127, 61, 229, 1) 100%
  );
}

.avialable-box {
}

.avialable-box::before {
  content: "";
  opacity: 0.8;
  background-image: url("../../assets//images/download-bg.jpg");
  z-index: -100;
  background-size: cover;
  position: absolute;
  width: 100% !important;
  height: 100%;
}

@media screen and (max-width: 414px) {
  .landing-page {
    padding: 0;
  }

  .landing-header {
    right: 0;
    left: 0;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .landing-top,
  .footer-container,
  .footer-overlay {
    border-radius: 0;
  }

  .mouse-scroll-icon {
    visibility: collapse;
  }
}

.landing-drawer li.ant-menu-item.ant-menu-item-only-child {
  text-align: center;
}

.landing-drawer
  li.ant-menu-item.ant-menu-item-only-child.ant-menu-item-selected {
  background-color: transparent;
}
