.card-box {
  padding-bottom: 50px;
  text-align: center;
}

.card-icon {
  width: 150px !important;
  height: 150px !important;
  display: block;
}

.small-divider-white {
  background-color: #ececec !important;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.plan-box {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  width: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 3px 3px #afafaf !important;
}
.option-box {
  padding-bottom: 15px;
}

.option-icon {
  width: 30px;
  height: 30px;
  display: block;
}
.header-subtext {
  margin-bottom: 25px;
}
@media only screen and (max-width: 750px) {
  .card-box {
    padding-bottom: 50px;
  }
}
