.primary {
  border-radius: 10px;
  background-color: #7d1be1 !important;
  border-color: #7d1be1 !important;

  /* span */

  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff !important;
}
.button-icon {
  width: 35px;
  height: 35px;
}
.secondary {
  border-radius: 10px;
  background-color: #ffffff !important;
  border-color: #7d1be1 !important;

  /* span */

  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7d1be1 !important;
}

.primary svg,
.secondary svg {
  vertical-align: middle;
}

.primary:hover,
.primary:active,
.primary:focus {
  background-color: #7d1be1 !important;
  border-color: #7d1be1 !important;
  color: #f1f1f5 !important;
  opacity: 0.8;
}

.secondary:hover,
.secondary:active,
.secondary:focus {
  background-color: #f1f1f5 !important;
  border-color: #7d1be1 !important;
  color: #7d1be1 !important;
  opacity: 0.8;
}

.link {
  padding: 0;
}

.link > span {
  color: #7d1be1 !important;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1px;
}

.link:hover > span {
  text-decoration: underline !important;
}
@media only screen and (max-width: 600px) {
  .link > span {
    font-size: 16px;
  }
  .primary {
    font-size: 16px;
  }
  .secondary {
    font-size: 16px;
  }
}
